<template>
  <form @submit.prevent="submit">
    <div class="container">
      <div class="box--full">
        <label>Credit Card Number</label>
        <input
          type="text"
          id="cc_number"
          name="cc_number"
          placeholder="0000-0000-0000-0000"
          v-model="formData.creditCardNumber"
          v-maska
          data-maska="####-####-####-####"
        />
        <span class="error" aria-live="polite" v-for="error in v$.creditCardNumber.$errors" :key="error.$uid">{{ error.$message }}</span>
      </div>
      <div class="box--half">
        <label>Security Code</label>
        <input type="text" id="sec_code" name="sec_code" placeholder="***" v-model="formData.securityCode" />
        <span class="error" aria-live="polite" v-for="error in v$.securityCode.$errors" :key="error.$uid">{{ error.$message }}</span>
      </div>
      <div class="box--half">
        <label>Expiration Date</label>
        <input type="text" id="exp_date" name="exp_date" placeholder="MM/YY" v-model="formData.expirationDate" v-maska data-maska="##/##"/>
        <span class="error" aria-live="polite" v-for="error in v$.expirationDate.$errors" :key="error.$uid">{{ error.$message }}</span>
      </div>
      <button type="submit" id="submit"><font-awesome-icon icon="fa-solid fa-cart-shopping" /> Complete Purchase</button>
      <button type="button" id="previous" @click="previousStep"><font-awesome-icon icon="fa-solid fa-arrow-left" /> previous step</button>
    </div>
  </form>
</template>

<script setup lang="ts">
import { vMaska } from 'maska'
import router from '@/router';
import { reactive } from 'vue';
import { useCheckoutStore } from '../stores/checkout';
import useVuelidate from '@vuelidate/core'
import { required, minLength, maxLength, numeric, helpers } from '@vuelidate/validators'

const store = useCheckoutStore()

const creditCardNumberValidator = (value: string) => {
  const strippedValue = value.replace(/-/g, '')
  return strippedValue.length === 16 && !isNaN(+strippedValue)
}

const creditCardDateValidator = (value: string) => {
  const strippedValue = value.split('/')
  return +strippedValue[0] <= 12 && +strippedValue[1] <= 99
}

store.setStep(2)
store.setStepName('Payment Details')

const formData = reactive({
  creditCardNumber: '',
  securityCode: '',
  expirationDate: ''
})

const rules = {
  creditCardNumber: { creditCardNumberValidator: helpers.withMessage("This field should be exactly 16 number long", creditCardNumberValidator)},
  securityCode: { required, numeric, minLength: minLength(3), maxLength: maxLength(3) },
  expirationDate: { creditCardDateValidator: helpers.withMessage("Please provide month and year in format 01-12 and 01-99", creditCardDateValidator)}
}

const v$ = useVuelidate(rules, formData)

const submit = async () => {
  const result = await v$.value.$validate()
  if (result) {
    const storedData = store.getFormData
    const mergedData = { ...storedData, ...formData }
    store.setFormData(mergedData)
    console.log(mergedData)
  }
}

const previousStep = () => {
  router.push('/')
}
</script>
