<template>
  <form @submit.prevent="submit">
    <div class="container">
      <div class="box--half">
        <label>First Name</label>
        <input
          type="text"
          id="f_name"
          name="firstName"
          placeholder="Elon"
          maxlength="20"
          v-model="formData.firstName"
        />
        <span
          class="error"
          aria-live="polite"
          v-for="error in v$.firstName.$errors"
          :key="error.$uid"
          >{{ error.$message }}</span
        >
      </div>
      <div class="box--half">
        <label>Last Name</label>
        <input
          type="text"
          id="l_name"
          name="l_name"
          placeholder="Musk"
          v-model="formData.lastName"
        />
        <span
          class="error"
          aria-live="polite"
          v-for="error in v$.lastName.$errors"
          :key="error.$uid"
          >{{ error.$message }}</span
        >
      </div>
      <div class="box--full">
        <label>Email</label>
        <input
          id="email"
          name="email"
          type="email"
          placeholder="elon@spacex.com"
          v-model="formData.email"
        />
        <span
          class="error"
          aria-live="polite"
          v-for="error in v$.email.$errors"
          :key="error.$uid"
          >{{ error.$message }}</span
        >
      </div>
      <div class="box--half">
        <label>Country</label>
        <select name="country" id="country" v-model="formData.country">
          <option value="US">United States</option>
          <option value="PL">Poland</option>
        </select>
        <span
          class="error"
          aria-live="polite"
          v-for="error in v$.country.$errors"
          :key="error.$uid"
          >{{ error.$message }}</span
        >
      </div>
      <div class="box--half">
        <label>Postal Code</label>
        <input
          type="text"
          id="p_code"
          name="p_code"
          placeholder="10001"
          maxlength="5"
          v-model="formData.postalCode"
        />
        <span
          class="error"
          aria-live="polite"
          v-for="error in v$.postalCode.$errors"
          :key="error.$uid"
          >{{ error.$message }}</span
        >
      </div>
      <div class="box--full">
        <label>Phone Number</label>
        <input
          type="tel"
          id="tel"
          name="tel"
          placeholder="(292) 692-93-92"
          maxlength="15"
          v-model="formData.phoneNumber"
          v-maska
          data-maska="(###) ###-##-##"
        />
        <span
          class="error"
          aria-live="polite"
          v-for="error in v$.phoneNumber.$errors"
          :key="error.$uid"
          >{{ error.$message }}</span
        >
      </div>
      <button type="submit" id="submit">
        <font-awesome-icon icon="fa-solid fa-cart-shopping" /> Next
      </button>
    </div>
  </form>
</template>

<script setup lang="ts">
import { vMaska } from 'maska'
import { reactive } from 'vue'
import { useCheckoutStore } from '../stores/checkout'
import useVuelidate from '@vuelidate/core'
import { required, email, minLength, maxLength, numeric, helpers } from '@vuelidate/validators'
import router from '@/router'

const store = useCheckoutStore()

const phoneNumberValidator = (value: string) => {
  const regex = /^\(\d{3}\) \d{3}-\d{2}-\d{2}$/
  return regex.test(value)
}

store.setStep(1)
store.setStepName('Personal Details')

const formData = reactive({
  firstName: '',
  lastName: '',
  email: '',
  country: '',
  postalCode: '',
  phoneNumber: ''
})

const rules = {
  firstName: { required, minLength: minLength(3), maxLength: maxLength(20) },
  lastName: { required, minLength: minLength(3), maxLength: maxLength(20) },
  email: { required, email },
  country: { required },
  postalCode: { required, numeric, minLength: minLength(5), maxLength: maxLength(5) },
  phoneNumber: { phoneNumberValidator: helpers.withMessage('Invalid phone number', phoneNumberValidator)}
}

const v$ = useVuelidate(rules, formData)

const submit = async () => {
  const result = await v$.value.$validate()
  if (result) {
    store.setFormData(formData)
    router.push('/payment-details')
  }
}
</script>
