<script setup lang="ts">
import { RouterView } from 'vue-router'
import { useCheckoutStore } from './stores/checkout';

const store = useCheckoutStore()
</script>

<template>
  <div class="row">
  <div class="title"><p><span>{{store.step}}</span></p> {{store.stepName}}</div>
  <div class="col col-span-7">
    <RouterView />
  </div>
  <div class="col col-span-2">
    <div class="container cart">
      <div class="box--full">
        <table>
          <tr>
            <th colspan="2">YOUR ORDER</th>
          </tr>
          <tr>
            <td>Apple Watch Sport</td>
            <td class="right">$ 580</td>
          </tr>
          <tr>
            <td>Modern Buckle</td>
            <td class="right">$ 380</td>
          </tr>
          <tr>
            <th colspan="2" class="table-border"></th>
          </tr>
          <tr>
            <td>Total Purchases</td>
            <td class="right">$ 960</td>
          </tr>
          <tr>
            <td>Estimated Tax</td>
            <td class="right">$ 0</td>
          </tr>
          <tr>
            <th colspan="2" class="table-border"></th>
          </tr>
          <tr>
            <td>Total</td>
            <td class="total">$ 960</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</template>

<style lang="scss">
///// Some useful mixins
@mixin button-form {
  padding: 1.5rem;
  margin: .5rem;
  border: 0 none;
  font-size: 1em;
  border-bottom: 3px solid #5bb500;
  background-color: #6bd400;
  font-weight: $font-weight;
  color: #fff;
  text-transform: uppercase;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

//box model = border-box
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin titles {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: $font-weight;
  line-height: 1;
  letter-spacing: .02em;
  text-transform: uppercase;
}

///// Variables
$font-weight: bold;
$text-color: #2f383d;
$dotted: 2px dotted #D1D1D1;
$radius: 4px;
// form styles
* {
  @include box-sizing(border-box);
}

body{
  background-color: #f1f1f1;
}

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

.col-span-7 {
  flex-basis: 58.3333%;
  order: 2;
}

.col-span-2 {
  flex-basis: 16.6666%;
  order: 3;
}

// Inner Container
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

[class*="box--"] {
  display: flex;
  margin: .5rem;
  background: white;
  border-bottom: 3px solid #dedfdf;
}

.box--full {
  flex: 1 1 100%;
  flex-flow: column;
  padding: 1rem;
  border-radius: $radius;
}

.box--half {
  flex: 1 1 30%;
  flex-flow: column;
  padding: 1rem;
  border-radius: $radius;
  flex-shrink: 1;
  flex-basis: 250px; //effectively it's min width
}

@media all and (max-width: 568px) {
  .col-span-2 {
    flex-basis: 50%;
  }
  .col-span-6,
  .col-span-7
  {
    flex-basis: 100%;
  }
}

@media all and (max-width: 980px) {
  .col-span-2 {
    order: 2;
  }
  .col-span-6,
  .col-span-7
  {
    order: 3;
  }
}


// get rid of "default" iOS button styling for submit buttons
input[type=submit] {
  appearance: none;
}

// Most form inputs
input[type="email"],
input[type="password"],
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="url"],
textarea {
  font-size: 1.3em;
  width: 100%;
}

label {
  font-weight: $font-weight;
  color: #000;
  font-size: 1em;
}

select {
  font-size: 1.3em;
  height: 2.1rem;
  line-height: 1.5em;
  width: 100%;
  margin-top: .25rem;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

input {
  border: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

select {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

.title {
  @include titles;
  order: 1;
  width: 100%;
  padding-left: 0px;
  margin: 24px 0 16px;
  p {
    border-radius: 100%;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #000;
    line-height: 1.2em;
    span {
      margin-top: 0.10em;
      font-size: 1em;
      font-weight: bold;
      font-family: sans-serif;
      color: #f1f1f1;
    }
  }
}

.title {
  @include titles;
  width: 100%;
  margin: 30px 0 20px;
}

#submit {
  @include button-form;
  width: 100%;
  border-radius: $radius;
}

#previous {
  @include button-form;
  width: 100%;
  color: #a7a7a7;
  background-color: transparent;
  border-bottom: transparent;
  text-transform: none;
}

.error {
  color: orangered;
}

.cart {
  outline: $dotted;
  outline-offset: -13px;
}

table {
  width: 100%;
}

td,
th {
  padding: 10px;
  white-space: nowrap;
  text-align: left;
}

th {
  font-weight: $font-weight;
}

.total {
  font-weight: $font-weight;
  font-size: 2em;
  text-align: right;
}

.right {
  text-align: right;
}

.table-border {
  border-bottom: $dotted;
}
</style>
